In [43]:
import pandas as pd
import pickle

In [44]:
#taking unseen data in a dataframe
rdf=pd.read_csv("Assign_unseen_data.csv")

In [45]:
rdf

,day,month,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,FWI,BUI,Region,Classes_fire,Classes_not_fire
0,28,7,32,60,15,1.5,65.9,4.1,7.8,1.0,0.18,3.6,0,0,1
1,29,8,35,63,12,0.0,63.4,4.5,8.2,1.5,1.67,3.8,0,1,0

In [46]:
#setting target and input variables
inp=rdf.drop(columns=["FWI"])
out=rdf['FWI']

In [47]:
inp

,day,month,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,Region,Classes_fire,Classes_not_fire
0,28,7,32,60,15,1.5,65.9,4.1,7.8,1.0,3.6,0,0,1
1,29,8,35,63,12,0.0,63.4,4.5,8.2,1.5,3.8,0,1,0

In [48]:
out

0    0.18
1    1.67
Name: FWI, dtype: float64

In [50]:
#scalling unseen data using scaler pickle file
scal_new_data=pickle.load(open('mk_scaler_assign.pkl','rb'))
scaled_df=scal_new_data.transform(inp)

c:\Users\patel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator StandardScaler from version 1.2.2 when using version 1.4.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [51]:
scaled_df

array([[ 1.34445155, -0.40740741, -0.0112222 , -0.18652146, -0.20923404,
         0.30074338, -0.81104769, -0.84245499, -0.86710487, -0.87252794,
        -0.90943979, -1.        , -1.098996  ,  1.098996  ],
       [ 1.45605153,  0.49206349,  0.80639527,  0.01630571, -1.35664652,
        -0.38582388, -0.98630459, -0.81142702, -0.85898937, -0.75597148,
        -0.89596191, -1.        ,  0.90992142, -0.90992142]])

In [52]:
mlr_new=pickle.load(open('mk_mlr_assign.pkl','rb'))
y_pred_new=mlr_new.predict(scaled_df)

c:\Users\patel\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator LinearRegression from version 1.2.2 when using version 1.4.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [53]:
#Model Evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score
mse=mean_squared_error(out,y_pred_new)
mae=mean_absolute_error(out,y_pred_new)
r2=r2_score(out,y_pred_new)
print('r2:',r2)
print('mae:',mae)
print('mse:',mse)

r2: 0.9995900872373441
mae: 0.01171783653446093
mse: 0.00022751183109308423

In [54]:
y_pred_new

array([0.17777975, 1.64878458])

Based on analyzing Algerian forest fire data with multiple linear regression, we found:

**Key Factors**: Identified important variables like temperature, humidity, wind speed and rain.
**Insights**: Discovered how these variables relate to forest fires, such as higher temperatures increasing fire likelihood.
**Strengths**:
   - Can handle multiple predictors.
   - Coefficients provide clear insights.
   - Offers a quantitative assessment.
**Limitations**:
   - Assumes linear relationships.
   - Assumes predictor independence.
   - Might miss important variables.
**Improvements**:
   - Use non-linear methods.
   - Optimize variable selection.
   - Include more data.

In summary, while multiple linear regression offers insights, addressing its limitations and adopting advanced techniques can enhance predictive accuracy.